.container
  %h1.text-center= @list.name
  %table.table.table-striped.mt-5
    %thead.table-dark
      %tr
        %th Name
        %th Description
    %tbody
      %tr
        %td= @list.name
        %td= @list.description
  = link_to 'Edit', edit_user_list_path(current_user,@list.id), class: 'btn btn-sm btn-info'
  = link_to 'Delete', user_list_path(current_user,@list.id), method: :delete, class: 'btn btn-sm btn-danger'        
  = link_to 'Tasks', user_list_tasks_path(current_user,@list.id), class: 'btn btn-sm btn-success'
        
  =link_to 'Back', user_lists_path, class: 'btn btn-sm btn-secondary'